{{! QLD cards }}
<div class="pt-24 sm:pt-32">
  <h2
    style="font-family: Montagu Slab; font-size: 30px;"
    class="font-bold mb-5 text-center text-gray-900 sm:text-4xl"
  >
    What to plant in QLD in Autumn
  </h2>
  {{! slick-carousel }}
  <div class="slick-carousel">
    {{#each seasonPlants as |seasonPlants|}}
      {{#if seasonPlants.QLD}}
        <div class="mr-5 ml-5">
          <div class="card bg-base-100 shadow-xl image-full">
            <figure>
              <img src="../images/card-bg.jpg" alt="card-bg" />
            </figure>
            <div class="card-body">
              <h2 class="card-title">{{plantName}} </h2>
              <p class="bg-neutral-content text-neutral p-2">
                {{plantDescription}}
              </p>
              <div class="card-actions justify-end">
                <button style="background-color: #f6e2bd6e;" class="btn">
                  {{plantEmoji plantType}}
                  {{plantSeason}}
                </button>
              </div>
            </div>
          </div>
        </div>
      {{/if}}
    {{/each}}
  </div>
</div>

{{! NSW cards }}
<div class="pt-24 sm:pt-32">
  <h2
    style="font-family: Montagu Slab; font-size: 30px;"
    class="font-bold mb-5 text-center text-gray-900 sm:text-4xl"
  >
    What to plant in NSW in Autumn
  </h2>
  {{! slick-carousel }}
  <div class="slick-carousel">
    {{#each seasonPlants as |seasonPlants|}}
      {{#if seasonPlants.NSW}}
        <div class="mr-5 ml-5">
          <div class="card bg-base-100 shadow-xl image-full">
            <figure>
              <img src="../images/card-bg.jpg" alt="card-bg" />
            </figure>
            <div class="card-body">
              <h2 class="card-title">{{plantName}} </h2>
              <p class="bg-neutral-content text-neutral p-2">
                {{plantDescription}}
              </p>
              <div class="card-actions justify-end">
                <button style="background-color: #f6e2bd6e;" class="btn">
                  {{plantEmoji plantType}}
                  {{plantSeason}}
                </button>
              </div>
            </div>
          </div>
        </div>
      {{/if}}
    {{/each}}
  </div>
</div>

{{! ACT cards }}
<div class="pt-24 sm:pt-32">
  <h2
    style="font-family: Montagu Slab; font-size: 30px;"
    class="font-bold mb-5 text-center text-gray-900 sm:text-4xl"
  >
    What to plant in ACT in Autumn
  </h2>
  {{! slick-carousel }}
  <div class="slick-carousel">
    {{#each seasonPlants as |seasonPlants|}}
      {{#if seasonPlants.ACT}}
        <div class="mr-5 ml-5">
          <div class="card bg-base-100 shadow-xl image-full">
            <figure>
              <img src="../images/card-bg.jpg" alt="card-bg" />
            </figure>
            <div class="card-body">
              <h2 class="card-title">{{plantName}} </h2>
              <p class="bg-neutral-content text-neutral p-2">
                {{plantDescription}}
              </p>
              <div class="card-actions justify-end">
                <button style="background-color: #f6e2bd6e;" class="btn">
                  {{plantEmoji plantType}}
                  {{plantSeason}}
                </button>
              </div>
            </div>
          </div>
        </div>
      {{/if}}
    {{/each}}
  </div>
</div>

{{! VIC cards }}
<div class="pt-24 sm:pt-32">
  <h2
    style="font-family: Montagu Slab; font-size: 30px;"
    class="font-bold mb-5 text-center text-gray-900 sm:text-4xl"
  >
    What to plant in VIC in Autumn
  </h2>
  {{! slick-carousel }}
  <div class="slick-carousel">
    {{#each seasonPlants as |seasonPlants|}}
      {{#if seasonPlants.VIC}}
        <div class="mr-5 ml-5">
          <div class="card bg-base-100 shadow-xl image-full">
            <figure>
              <img src="../images/card-bg.jpg" alt="card-bg" />
            </figure>
            <div class="card-body">
              <h2 class="card-title">{{plantName}} </h2>
              <p class="bg-neutral-content text-neutral p-2">
                {{plantDescription}}
              </p>
              <div class="card-actions justify-end">
                <button style="background-color: #f6e2bd6e;" class="btn">
                  {{plantEmoji plantType}}
                  {{plantSeason}}
                </button>
              </div>
            </div>
          </div>
        </div>
      {{/if}}
    {{/each}}
  </div>
</div>

{{! TAS cards }}
<div class="pt-24 sm:pt-32">
  <h2
    style="font-family: Montagu Slab; font-size: 30px;"
    class="font-bold mb-5 text-center text-gray-900 sm:text-4xl"
  >
    What to plant in TAS in Autumn
  </h2>
  {{! slick-carousel }}
  <div class="slick-carousel">
    {{#each seasonPlants as |seasonPlants|}}
      {{#if seasonPlants.TAS}}
        <div class="mr-5 ml-5">
          <div class="card bg-base-100 shadow-xl image-full">
            <figure>
              <img src="../images/card-bg.jpg" alt="card-bg" />
            </figure>
            <div class="card-body">
              <h2 class="card-title">{{plantName}} </h2>
              <p class="bg-neutral-content text-neutral p-2">
                {{plantDescription}}
              </p>
              <div class="card-actions justify-end">
                <button style="background-color: #f6e2bd6e;" class="btn">
                  {{plantEmoji plantType}}
                  {{plantSeason}}
                </button>
              </div>
            </div>
          </div>
        </div>
      {{/if}}
    {{/each}}
  </div>
</div>

{{! NT cards }}
<div class="pt-24 sm:pt-32">
  <h2
    style="font-family: Montagu Slab; font-size: 30px;"
    class="font-bold mb-5 text-center text-gray-900 sm:text-4xl"
  >
    What to plant in NT in Autumn
  </h2>
  {{! slick-carousel }}
  <div class="slick-carousel">
    {{#each seasonPlants as |seasonPlants|}}
      {{#if seasonPlants.NT}}
        <div class="mr-5 ml-5">
          <div class="card bg-base-100 shadow-xl image-full">
            <figure>
              <img src="../images/card-bg.jpg" alt="card-bg" />
            </figure>
            <div class="card-body">
              <h2 class="card-title">{{plantName}} </h2>
              <p class="bg-neutral-content text-neutral p-2">
                {{plantDescription}}
              </p>
              <div class="card-actions justify-end">
                <button style="background-color: #f6e2bd6e;" class="btn">
                  {{plantEmoji plantType}}
                  {{plantSeason}}
                </button>
              </div>
            </div>
          </div>
        </div>
      {{/if}}
    {{/each}}
  </div>
</div>

{{! SA cards }}
<div class="pt-24 sm:pt-32">
  <h2
    style="font-family: Montagu Slab; font-size: 30px;"
    class="font-bold mb-5 text-center text-gray-900 sm:text-4xl"
  >
    What to plant in SA in Autumn
  </h2>
  {{! slick-carousel }}
  <div class="slick-carousel">
    {{#each seasonPlants as |seasonPlants|}}
      {{#if seasonPlants.SA}}
        <div class="mr-5 ml-5">
          <div class="card bg-base-100 shadow-xl image-full">
            <figure>
              <img src="../images/card-bg.jpg" alt="card-bg" />
            </figure>
            <div class="card-body">
              <h2 class="card-title">{{plantName}} </h2>
              <p class="bg-neutral-content text-neutral p-2">
                {{plantDescription}}
              </p>
              <div class="card-actions justify-end">
                <button style="background-color: #f6e2bd6e;" class="btn">
                  {{plantEmoji plantType}}
                  {{plantSeason}}
                </button>
              </div>
            </div>
          </div>
        </div>
      {{/if}}
    {{/each}}
  </div>
</div>

{{! WA cards }}
<div class="pt-24 sm:pt-32">
  <h2
    style="font-family: Montagu Slab; font-size: 30px;"
    class="font-bold mb-5 text-center text-gray-900 sm:text-4xl"
  >
    What to plant in WA in Autumn
  </h2>
  {{! slick-carousel }}
  <div class="slick-carousel">
    {{#each seasonPlants as |seasonPlants|}}
      {{#if seasonPlants.WA}}
        <div class="mr-5 ml-5">
          <div class="card bg-base-100 shadow-xl image-full">
            <figure>
              <img src="../images/card-bg.jpg" alt="card-bg" />
            </figure>
            <div class="card-body">
              <h2 class="card-title">{{plantName}} </h2>
              <p class="bg-neutral-content text-neutral p-2">
                {{plantDescription}}
              </p>
              <div class="card-actions justify-end">
                <button style="background-color: #f6e2bd6e;" class="btn">
                  {{plantEmoji plantType}}
                  {{plantSeason}}
                </button>
              </div>
            </div>
          </div>
        </div>
      {{/if}}
    {{/each}}
  </div>
</div>

{{! spacing }}
<div class="py-10"></div>