
{{!-- the blog post they clicked on --}}
<section class="card">
    <div class="card mb-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{title}}
            </h5>
            <p class="card-text">{{body}}</p>
            <p class="card-text">Created by: {{user.userName}}<br> On: {{format_date published_at}}</p>
        </div>
    </div>
</section>
{{!-- the partial to display the comments --}}
<section>
    <header>
        Comments!
    </header>
</section>
{{> blogComment }}
{{!-- if they're logged in, they have the option to leave a comment --}}
    <section>
        <form class="newComment" id="postId" data-blogid="{{id}}">
            <div class="mb-3">
                <label for="text" class="form-label">Leave a comment!</label>
                <textarea class="form-control" id="comment-text" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Post!</button>    
        </form>
    </section>

<script src="../../js/comment.js"></script>