        <header style="background-color: #3c3d1c">
  <nav class="mx-auto flex items-center justify-between gap-x-6 lg:px-8" aria-label="Global">
    <div class="flex lg:flex-1">
      <a href="/profile" class="-m-1.5 p-1.5">
        <span class="sr-only">Green Thumbs</span>
        <img style="max-width: 115px" src="./images/Greenthumb Logo only.png" alt="Your Company"/>
      </a>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      <a href="/addPlant" class="text-md font-semibold leading-6" style="color: #92be63">Add a Plant</a>
      <a href="/states" class="text-md font-semibold leading-6" style="color: #92be63">Browse by State</a>
      <a href="/seasons" class="text-md font-semibold leading-6" style="color: #92be63">Browse by Season</a>
      <a href="#" class="text-md font-semibold leading-6" style="color: #92be63">Blog</a>
    </div>
    <!-- Right Justified Logout Button -->
    <div class="flex flex-1 justify-end items-center">
      <a href="/" id="logout" class="text-md font-semibold leading-6 px-4 py-2" style="background-color: #92be63; color: #3c3d1c; border-radius: 4px;">Logout</a>
    </div>
  </nav>
</header>

{{! spring cards }}
<div class="pt-24 sm:pt-32">
  <h2
    style="font-family: Montagu Slab; font-size: 30px;"
    class="font-bold mb-5 text-center text-gray-900 sm:text-4xl"
  >
    Spring
  </h2>
  {{! slick-carousel }}
  <div class="slick-carousel">
    {{#each statePlants as |statePlant|}}
      {{#if statePlant.spring}}
        <div class="mr-5 ml-5">
          <div class="card bg-base-100 shadow-xl image-full">
            <figure>
              <img src="../images/card-bg.jpg" alt="card-bg" />
            </figure>
            <div class="card-body">
              <h2 class="card-title">{{plantName}} </h2>
              <p class="bg-neutral-content text-neutral p-2">
                {{plantDescription}}
              </p>
              <div class="card-actions justify-end">
                <button style="background-color: #f6e2bd6e;" class="btn">
                  {{plantEmoji plantType}}
                  {{plantSeason}}
                </button>
              </div>
            </div>
          </div>
        </div>
      {{/if}}
    {{/each}}
  </div>
</div>

{{!   Summer cards }}
<div class="pt-24 sm:pt-32">
  <h2
    style="font-family: Montagu Slab; font-size: 30px;"
    class="font-bold mb-5 text-center text-gray-900 sm:text-4xl"
  >
    Summer
  </h2>
  {{! slick-carousel }}
  <div class="slick-carousel">
    {{#each statePlants as |statePlant|}}
      {{#if statePlant.summer}}
        <div class="mr-5 ml-5">
          <div class="card bg-base-100 shadow-xl image-full">
            <figure>
              <img src="../images/card-bg.jpg" alt="card-bg" />
            </figure>
            <div class="card-body">
              <h2 class="card-title">{{plantName}} </h2>
              <p class="bg-neutral-content text-neutral p-2">
                {{plantDescription}}
              </p>
              <div class="card-actions justify-end">
                <button style="background-color: #f6e2bd6e;" class="btn">
                  {{plantEmoji plantType}}
                  {{plantSeason}}
                </button>
              </div>
            </div>
          </div>
        </div>
      {{/if}}
    {{/each}}
  </div>
</div>

{{!   Autumn cards }}
<div class="pt-24 sm:pt-32">
  <h2
    style="font-family: Montagu Slab; font-size: 30px;"
    class="font-bold mb-5 text-center text-gray-900 sm:text-4xl"
  >
    Autumn
  </h2>
  {{! slick-carousel }}
  <div class="slick-carousel">
    {{#each statePlants as |statePlant|}}
      {{#if statePlant.autumn}}
        <div class="mr-5 ml-5">
          <div class="card bg-base-100 shadow-xl image-full">
            <figure>
              <img src="../images/card-bg.jpg" alt="card-bg" />
            </figure>
            <div class="card-body">
              <h2 class="card-title">{{plantName}} </h2>
              <p class="bg-neutral-content text-neutral p-2">
                {{plantDescription}}
              </p>
              <div class="card-actions justify-end">
                <button style="background-color: #f6e2bd6e;" class="btn">
                  {{plantEmoji plantType}}
                  {{plantSeason}}
                </button>
              </div>
            </div>
          </div>
        </div>
      {{/if}}
    {{/each}}
  </div>
</div>

{{!   Winter cards }}
<div class="py-24 sm:py-32">
  <h2
    style="font-family: Montagu Slab; font-size: 30px;"
    class="font-bold mb-5 text-center text-gray-900 sm:text-4xl"
  >
    Winter
  </h2>
  {{! slick-carousel }}
  <div class="slick-carousel">
    {{#each statePlants as |statePlant|}}
      {{#if statePlant.winter}}
        <div class="mr-5 ml-5">
          <div class="card bg-base-100 shadow-xl image-full">
            <figure>
              <img src="../images/card-bg.jpg" alt="card-bg" />
            </figure>
            <div class="card-body">
              <h2 class="card-title">{{plantName}} </h2>
              <p class="bg-neutral-content text-neutral p-2">
                {{plantDescription}}
              </p>
              <div class="card-actions justify-end">
                <button style="background-color: #f6e2bd6e;" class="btn">
                  {{plantEmoji plantType}}
                  {{plantSeason}}
                </button>
              </div>
            </div>
          </div>
        </div>
      {{/if}}
    {{/each}}
  </div>
</div>

{{! page divider }}
<div class="flex flex-col w-full">
  <div class="divider">BLOGS</div>
</div>

{{! BLOGS }}
<div class="py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:max-w-4xl">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        From the blog
      </h2>
      <p class="mt-2 text-lg leading-8 text-gray-600">
        Lorem ipsum dolor sit amet consectetur adipisicing.
      </p>
      <div class="mt-16 space-y-20 lg:mt-20 lg:space-y-20">

        <!-- blogs start here -->

        <article class="relative isolate flex flex-col gap-8 lg:flex-row">
          <div
            class="relative aspect-[16/9] sm:aspect-[2/1] lg:aspect-square lg:w-64 lg:shrink-0"
          >
            <img
              src="./images/GreenthumbsWhite.png"
              alt=""
              class="absolute inset-0 h-full w-full rounded-2xl bg-gray-50 object-cover"
            />
            <div
              class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"
            ></div>
          </div>
          <div>
            <div class="flex items-center gap-x-4 text-xs">

              <!-- date puplished here -->
              <time datetime="2024-03-11" class="text-gray-500">Mar 11, 2024</time>
              <div>
                <div class="drawer drawer-end">
                  <input
                    id="my-drawer-4"
                    type="checkbox"
                    class="drawer-toggle"
                  />
                  <div class="drawer-content">

                    <label
                      for="my-drawer-4"
                      class="drawer-button btn font-medium text-gray-600"
                    >💬 comment</label>
                  </div>
                  <div class="drawer-side">
                    <label
                      for="my-drawer-4"
                      aria-label="close sidebar"
                      class="drawer-overlay"
                    ></label>
                    <div
                      class="menu p-4 w-80 min-h-full bg-base-200 text-base-content"
                    >
                      <div class="flex items-start space-x-4 bg-base-100">
                        <div class="min-w-0 flex-1">
                          <form action="#" class="relative">
                            <div
                              class="overflow-hidden rounded-lg shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-indigo-600"
                            >
                              <label for="comment" class="sr-only">Add your
                                comment</label>
                              <textarea
                                rows="3"
                                name="comment"
                                id="comment"
                                class="block w-full resize-none border-0 bg-transparent py-1.5 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6"
                                placeholder="Add your comment..."
                              ></textarea>

                              <!-- Spacer element to match the height of the toolbar -->
                              <div class="py-2" aria-hidden="true">
                                <!-- Matches height of button in toolbar (1px border + 36px content height) -->
                                <div class="py-px">
                                  <div class="h-9"></div>
                                </div>
                              </div>
                            </div>

                            <div
                              class="absolute inset-x-0 bottom-0 flex justify-between py-2 pl-3 pr-2"
                            >
                              <div class="flex items-center space-x-5"></div>

                              <div class="flex-shrink-0">
                                <button
                                  type="submit"
                                  class="inline-flex items-center rounded-md bg-lime-800 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-lime-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                                >
                                  comment
                                </button>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                      <ul>
                        <!-- Sidebar content here -->
                        <li class="mt-3">comment shows here</li>
                        <li class="mt-3">comment shows here</li>
                        <li class="mt-3">comment shows here</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="group relative max-w-xl">
              <h3
                class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600"
              >
                <a href="#">
                  <span class="absolute inset-0"></span>
                  Adding Plants to Your Space
                </a>
              </h3>
              <p class="mt-5 text-sm leading-6 text-gray-600">
                In today's fast-paced world, a touch of nature can work wonders.
                Adding a plant to your home or workspace not only enhances
                aesthetics but also promotes well-being. From purifying the air
                to reducing stress, the benefits are abundant.
              </p>
            </div>
            <div class="mt-6 flex border-t border-gray-900/5 pt-6">
              <div class="relative flex items-center gap-x-4">
                <img
                  src="./images/GreenThumbs.png"
                  alt=""
                  class="h-10 w-10 rounded-full bg-gray-50"
                />
                <div class="text-sm leading-6">
                  <p class="font-semibold text-gray-900">
                    <a href="#">
                      <span class="absolute inset-0"></span>
                      Green Thumbs
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </article>

        <!-- More blogs... -->
      </div>
    </div>
  </div>
</div>

<div> {{> footer}} </div> 