        <header style="background-color: #3c3d1c">
  <nav class="mx-auto flex items-center justify-between gap-x-6 lg:px-8" aria-label="Global">
    <div class="flex lg:flex-1">
      <a href="/profile" class="-m-1.5 p-1.5">
        <span class="sr-only">Green Thumbs</span>
        <img style="max-width: 115px" src="./images/Greenthumb Logo only.png" alt="Your Company"/>
      </a>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      <a href="/addPlant" class="text-md font-semibold leading-6" style="color: #92be63">Add a Plant</a>
      <a href="/profile#state-section" class="text-md font-semibold leading-6" style="color: #92be63">Browse by State</a>
      <a href="/profile#season-section" class="text-md font-semibold leading-6" style="color: #92be63">Browse by Season</a>
      <a href="#" class="text-md font-semibold leading-6" style="color: #92be63">Blog</a>
    </div>
    <!-- Right Justified Logout Button -->
    <div class="flex flex-1 justify-end items-center">
      <a href="/" id="logout" class="text-md font-semibold leading-6 px-4 py-2" style="background-color: #92be63; color: #3c3d1c; border-radius: 4px;">Logout</a>
    </div>
  </nav>
</header>

{{! QLD cards }}
<div class="pt-24 sm:pt-32">
  <h2
    style="font-family: Montagu Slab; font-size: 30px;"
    class="font-bold mb-5 text-center text-gray-900 sm:text-4xl"
  >
    What to plant in QLD in Winter
  </h2>
  {{! slick-carousel }}
  <div class="slick-carousel">
    {{#each seasonPlants as |seasonPlants|}}
      {{#if seasonPlants.QLD}}
        <div class="mr-5 ml-5">
          <div class="card bg-base-100 shadow-xl image-full">
            <figure>
              <img src="../images/card-bg.jpg" alt="card-bg" />
            </figure>
            <div class="card-body">
              <h2 class="card-title">{{plantName}} </h2>
              <p class="bg-neutral-content text-neutral p-2">
                {{plantDescription}}
              </p>
              <div class="card-actions justify-end">
                <button style="background-color: #f6e2bd6e;" class="btn">
                  {{plantEmoji plantType}}
                  {{plantSeason}}
                </button>
              </div>
            </div>
          </div>
        </div>
      {{/if}}
    {{/each}}
  </div>
</div>

{{! NSW cards }}
<div class="pt-24 sm:pt-32">
  <h2
    style="font-family: Montagu Slab; font-size: 30px;"
    class="font-bold mb-5 text-center text-gray-900 sm:text-4xl"
  >
    What to plant in NSW in Winter
  </h2>
  {{! slick-carousel }}
  <div class="slick-carousel">
    {{#each seasonPlants as |seasonPlants|}}
      {{#if seasonPlants.NSW}}
        <div class="mr-5 ml-5">
          <div class="card bg-base-100 shadow-xl image-full">
            <figure>
              <img src="../images/card-bg.jpg" alt="card-bg" />
            </figure>
            <div class="card-body">
              <h2 class="card-title">{{plantName}} </h2>
              <p class="bg-neutral-content text-neutral p-2">
                {{plantDescription}}
              </p>
              <div class="card-actions justify-end">
                <button style="background-color: #f6e2bd6e;" class="btn">
                  {{plantEmoji plantType}}
                  {{plantSeason}}
                </button>
              </div>
            </div>
          </div>
        </div>
      {{/if}}
    {{/each}}
  </div>
</div>

{{! ACT cards }}
<div class="pt-24 sm:pt-32">
  <h2
    style="font-family: Montagu Slab; font-size: 30px;"
    class="font-bold mb-5 text-center text-gray-900 sm:text-4xl"
  >
    What to plant in ACT in Winter
  </h2>
  {{! slick-carousel }}
  <div class="slick-carousel">
    {{#each seasonPlants as |seasonPlants|}}
      {{#if seasonPlants.ACT}}
        <div class="mr-5 ml-5">
          <div class="card bg-base-100 shadow-xl image-full">
            <figure>
              <img src="../images/card-bg.jpg" alt="card-bg" />
            </figure>
            <div class="card-body">
              <h2 class="card-title">{{plantName}} </h2>
              <p class="bg-neutral-content text-neutral p-2">
                {{plantDescription}}
              </p>
              <div class="card-actions justify-end">
                <button style="background-color: #f6e2bd6e;" class="btn">
                  {{plantEmoji plantType}}
                  {{plantSeason}}
                </button>
              </div>
            </div>
          </div>
        </div>
      {{/if}}
    {{/each}}
  </div>
</div>

{{! VIC cards }}
<div class="pt-24 sm:pt-32">
  <h2
    style="font-family: Montagu Slab; font-size: 30px;"
    class="font-bold mb-5 text-center text-gray-900 sm:text-4xl"
  >
    What to plant in VIC in Winter
  </h2>
  {{! slick-carousel }}
  <div class="slick-carousel">
    {{#each seasonPlants as |seasonPlants|}}
      {{#if seasonPlants.VIC}}
        <div class="mr-5 ml-5">
          <div class="card bg-base-100 shadow-xl image-full">
            <figure>
              <img src="../images/card-bg.jpg" alt="card-bg" />
            </figure>
            <div class="card-body">
              <h2 class="card-title">{{plantName}} </h2>
              <p class="bg-neutral-content text-neutral p-2">
                {{plantDescription}}
              </p>
              <div class="card-actions justify-end">
                <button style="background-color: #f6e2bd6e;" class="btn">
                  {{plantEmoji plantType}}
                  {{plantSeason}}
                </button>
              </div>
            </div>
          </div>
        </div>
      {{/if}}
    {{/each}}
  </div>
</div>

{{! TAS cards }}
<div class="pt-24 sm:pt-32">
  <h2
    style="font-family: Montagu Slab; font-size: 30px;"
    class="font-bold mb-5 text-center text-gray-900 sm:text-4xl"
  >
    What to plant in TAS in Winter
  </h2>
  {{! slick-carousel }}
  <div class="slick-carousel">
    {{#each seasonPlants as |seasonPlants|}}
      {{#if seasonPlants.TAS}}
        <div class="mr-5 ml-5">
          <div class="card bg-base-100 shadow-xl image-full">
            <figure>
              <img src="../images/card-bg.jpg" alt="card-bg" />
            </figure>
            <div class="card-body">
              <h2 class="card-title">{{plantName}} </h2>
              <p class="bg-neutral-content text-neutral p-2">
                {{plantDescription}}
              </p>
              <div class="card-actions justify-end">
                <button style="background-color: #f6e2bd6e;" class="btn">
                  {{plantEmoji plantType}}
                  {{plantSeason}}
                </button>
              </div>
            </div>
          </div>
        </div>
      {{/if}}
    {{/each}}
  </div>
</div>

{{! NT cards }}
<div class="pt-24 sm:pt-32">
  <h2
    style="font-family: Montagu Slab; font-size: 30px;"
    class="font-bold mb-5 text-center text-gray-900 sm:text-4xl"
  >
    What to plant in NT in Winter
  </h2>
  {{! slick-carousel }}
  <div class="slick-carousel">
    {{#each seasonPlants as |seasonPlants|}}
      {{#if seasonPlants.NT}}
        <div class="mr-5 ml-5">
          <div class="card bg-base-100 shadow-xl image-full">
            <figure>
              <img src="../images/card-bg.jpg" alt="card-bg" />
            </figure>
            <div class="card-body">
              <h2 class="card-title">{{plantName}} </h2>
              <p class="bg-neutral-content text-neutral p-2">
                {{plantDescription}}
              </p>
              <div class="card-actions justify-end">
                <button style="background-color: #f6e2bd6e;" class="btn">
                  {{plantEmoji plantType}}
                  {{plantSeason}}
                </button>
              </div>
            </div>
          </div>
        </div>
      {{/if}}
    {{/each}}
  </div>
</div>

{{! SA cards }}
<div class="pt-24 sm:pt-32">
  <h2
    style="font-family: Montagu Slab; font-size: 30px;"
    class="font-bold mb-5 text-center text-gray-900 sm:text-4xl"
  >
    What to plant in SA in Winter
  </h2>
  {{! slick-carousel }}
  <div class="slick-carousel">
    {{#each seasonPlants as |seasonPlants|}}
      {{#if seasonPlants.SA}}
        <div class="mr-5 ml-5">
          <div class="card bg-base-100 shadow-xl image-full">
            <figure>
              <img src="../images/card-bg.jpg" alt="card-bg" />
            </figure>
            <div class="card-body">
              <h2 class="card-title">{{plantName}} </h2>
              <p class="bg-neutral-content text-neutral p-2">
                {{plantDescription}}
              </p>
              <div class="card-actions justify-end">
                <button style="background-color: #f6e2bd6e;" class="btn">
                  {{plantEmoji plantType}}
                  {{plantSeason}}
                </button>
              </div>
            </div>
          </div>
        </div>
      {{/if}}
    {{/each}}
  </div>
</div>

{{! WA cards }}
<div class="pt-24 sm:pt-32">
  <h2
    style="font-family: Montagu Slab; font-size: 30px;"
    class="font-bold mb-5 text-center text-gray-900 sm:text-4xl"
  >
    What to plant in WA in Winter
  </h2>
  {{! slick-carousel }}
  <div class="slick-carousel">
    {{#each seasonPlants as |seasonPlants|}}
      {{#if seasonPlants.WA}}
        <div class="mr-5 ml-5">
          <div class="card bg-base-100 shadow-xl image-full">
            <figure>
              <img src="../images/card-bg.jpg" alt="card-bg" />
            </figure>
            <div class="card-body">
              <h2 class="card-title">{{plantName}} </h2>
              <p class="bg-neutral-content text-neutral p-2">
                {{plantDescription}}
              </p>
              <div class="card-actions justify-end">
                <button style="background-color: #f6e2bd6e;" class="btn">
                  {{plantEmoji plantType}}
                  {{plantSeason}}
                </button>
              </div>
            </div>
          </div>
        </div>
      {{/if}}
    {{/each}}
  </div>
</div>

 <div> {{> footer}} </div>  